<h1>Split Squat</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxMeM08SJK8" frameborder="0" allowfullscreen></iframe>

<h2>Questions:</h2>
<%= form_with url: '/mvmtthree', method: :post, local: true do |form|%>
    <h2>All questions below are for your left side (left leg forward)</h2>
    <h3>*Are your thighs under your hips?*</h3>
    <img id="compass" src="<%= asset_path('split squat q1 - yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('split squat q1 - no - 1 compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('split squat q1 - no - 2 compressed.jpeg') %>" height="500" >
    <br>
    <%= form.radio_button :thighs_hips_l, "yes", required: true %>
    <%= form.label :thighs_hips_l, "Yes" %>
    <%= form.radio_button :thighs_hips_l, "no", required: true %>
    <%= form.label :thighs_hips_l, "No" %>
    <h3>*Is your center of mass over your back leg (stacked ear to knee)?*</h3>
    <img id="compass" src="<%= asset_path('split squat q2 - yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('split squat q2 - no - 1 compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('split squat q2 - no - 2 compressed.jpeg') %>" height="500" >
    <br>
    <%= form.radio_button :com_l, "yes", required: true %>
    <%= form.label :com_l, "Yes" %>
    <%= form.radio_button :com_l, "no" %>
    <%= form.label :com_l, "No" %>
    <h3>*Are your hips level?*</h3>
    <img id="compass" src="<%= asset_path('split squat q3 - yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('split squat q3 - no compressed.jpeg') %>" height="500" >
    <br>
    <%= form.radio_button :level_l, "yes", required: true %>
    <%= form.label :level_l, "Yes" %>
    <%= form.radio_button :level_l, "no" %>
    <%= form.label :level_l, "No" %>
    <br>
    <br>
    
    <%= form.submit "Next Assessment" %>
<% end %>
<%= button_to 'Previous Assessment', "/mvmttwo/#{@movement.id}/edit", method: :get %>