<h1>Split Squat</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxMeM08SJK8" frameborder="0" allowfullscreen></iframe>

<h3>Questions:</h3>
<%= form_with url: '/mvmtone', method: :post, local: true do |form|%>
    <p>*Does your lower back have a uniform curve?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300" >
    <br>
    <%= form.radio_button :lower_back, "yes", required: true %>
    <%= form.label :lower_back, "Yes" %>
    <%= form.radio_button :lower_back, "no", required: true %>
    <%= form.label :lower_back, "No" %>
    <p>*Do your hips shift 1/2 food behind your heel?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300">
    <br>
    <%= form.radio_button :hip_shift, "yes", required: true %>
    <%= form.label :hip_shift, "Yes" %>
    <%= form.radio_button :hip_shift, "no" %>
    <%= form.label :hip_shift, "No" %>
    <p>*Does your upper back have a uniform curve?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300">
    <br>
    <%= form.radio_button :upper_back, "yes", required: true %>
    <%= form.label :upper_back, "Yes" %>
    <%= form.radio_button :upper_back, "no" %>
    <%= form.label :upper_back, "No" %>
    <br>
    <br>
    <%= form.submit "Next Assessment" %>
<% end %>
