<h1>Overhead Reach</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mnBv9moyfBw" frameborder="0" allowfullscreen></iframe>

<h2>Questions:</h2>
<%= form_with model: @movement, method: :patch, url: "/mvmtfour/#{@movement.id}", local: true do |form|%>
    <h2>How to answer all questions below:</h2>
    <img id="compass" src="<%= asset_path('overhead reach yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('overhead reach no compressed.jpeg') %>" height="500" >
    <h2>All questions below are for your right arm</h2>
    <h3>*Do you have at least 60 degrees of flexion?*</h3>
    <img id="compass" src="<%= asset_path('overhead reach q1 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :qone, "yes", required: true %>
    <%= form.label :qone, "Yes" %>
    <%= form.radio_button :qone, "no", required: true %>
    <%= form.label :qone, "No" %>
    <h3>*Do you have at least 60-120 degrees of flexion?*</h3>
    <img id="compass" src="<%= asset_path('overhead reach q2 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :qtwo, "yes", required: true %>
    <%= form.label :qtwo, "Yes" %>
    <%= form.radio_button :qtwo, "no" %>
    <%= form.label :qtwo, "No" %>
    <h3>*Do you have more than 120 degrees of flexion?*</h3>
    <img id="compass" src="<%= asset_path('overhead reach q3 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :qthree, "yes", required: true %>
    <%= form.label :qthree, "Yes" %>
    <%= form.radio_button :qthree, "no" %>
    <%= form.label :qthree, "No" %>
    <br>
    <br>
    <%= form.submit "Update Assessment" %>
<% end %>