<h1>Overhead Reach</h1>
<p>Watch the video below for how to do the assessment</p>
<p>Record yourself from the side to help answer the questions below. Do this before reviewing the questions to avoid altering your approach to the assessment.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mnBv9moyfBw" frameborder="0" allowfullscreen></iframe>

<h2>Questions:</h2>
<%= form_with url: '/mvmtfour', method: :post, local: true do |form|%>
    <h2>How to answer all questions below:</h2>
    <img id="compass" src="<%= asset_path('overhead reach yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('overhead reach no compressed.jpeg') %>" height="500" >
    <h2>All questions below are for your right arm</h2>
    <h3>Do you have at least 60 degrees of flexion?</h3>
    <img id="compass" src="<%= asset_path('overhead reach q1 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :sixty_r, "yes", required: true %>
    <%= form.label :sixty_r, "Yes" %>
    <%= form.radio_button :sixty_r, "no", required: true %>
    <%= form.label :sixty_r, "No" %>
    <h3>Do you have between 60-120 degrees of shoulder flexion?</h3>
    <img id="compass" src="<%= asset_path('overhead reach q2 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :hundred_twenty_r, "yes", required: true %>
    <%= form.label :hundred_twenty_r, "Yes" %>
    <%= form.radio_button :hundred_twenty_r, "no" %>
    <%= form.label :hundred_twenty_r, "No" %>
    <h3>Do you have more than 120 degrees of flexion?</h3>
    <img id="compass" src="<%= asset_path('overhead reach q3 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :hundred_eighty_r, "yes", required: true %>
    <%= form.label :hundred_eighty_r, "Yes" %>
    <%= form.radio_button :hundred_eighty_r, "no" %>
    <%= form.label :hundred_eighty_r, "No" %>
    <br>
    <br>
    
    <%= form.submit "Next Assessment" %>
<% end %>
<%= button_to 'Previous Assessment', "/mvmtthree/#{@movement.id}/edit", method: :get %>