<h1>Overhead Reach</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxMeM08SJK8" frameborder="0" allowfullscreen></iframe>

<h3>Questions:</h3>
<%= form_with url: '/mvmtfour', method: :post, local: true do |form|%>
    <h3>All questions below are for your right arm</h3>
    <p>*Do you have 60 degrees of flexion?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300" >
    <br>
    <%= form.radio_button :sixty_r, "yes", required: true %>
    <%= form.label :sixty_r, "Yes" %>
    <%= form.radio_button :sixty_r, "no", required: true %>
    <%= form.label :sixty_r, "No" %>
    <p>*Do you have 120 degrees of flexion?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300">
    <br>
    <%= form.radio_button :hundred_twenty_r, "yes", required: true %>
    <%= form.label :hundred_twenty_r, "Yes" %>
    <%= form.radio_button :hundred_twenty_r, "no" %>
    <%= form.label :hundred_twenty_r, "No" %>
    <p>*Do you have 180 degrees of flexion?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300">
    <br>
    <%= form.radio_button :hundred_eighty_r, "yes", required: true %>
    <%= form.label :hundred_eighty_r, "Yes" %>
    <%= form.radio_button :hundred_eighty_r, "no" %>
    <%= form.label :hundred_eighty_r, "No" %>
    <br>
    <br>
    
    <%= form.submit "Next Assessment" %>
<% end %>
<%= button_to 'Previous Assessment', "/mvmthree/#{@movement.id}/edit", method: :get %>