<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your Results</h2>
    <p>Instructions go here</p>
    <h3>Toe Touch One Exercise <%= link_to "can be viewed at this link", "#{@toe_touch_one}" %></h3>
    <h3>Toe Touch Two Exercise <%= link_to "can be viewed at this link", "#{@toe_touch_two}" %></h3>
    <h3>Split Squat One Exercise <%= link_to "can be viewed at this link", "#{@split_squat_one}" %></h3>
    <h3>Split Squat Two Exercise <%= link_to "can be viewed at this link", "#{@split_squat_two}" %></h3>
    <h3>Overhead Reach One Exercise <%= link_to "can be viewed at this link", "#{@overhead_one}" %></h3>
    <h3>Overhead Reach Two Exercise <%= link_to "can be viewed at this link", "#{@overhead_two}" %></h3>
  </body>
</html>