<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your <%= link_to "BTE Movement Assessment", "https://bte-movement-app.herokuapp.com/" %> Results</h2>
    <p>We suggest retesting your movement once per month to ensure improvements</p>
    <h3>Instructions:</h3>
    <ul>
      <li>Total daily time commitment = 8 minutes </li>
      <li>Perform these exercises before your regular warm-up</li>
      <li>Perform each exercise for two minutes (1-minute per side when applicable)</li>
      <li>Perform exercise one first, then exercise two</li>
      <li>Do two exercises (exercise 1 + 2), twice per day (before & sometime after training)</li>
      <li>Alternate which exercises you're doing daily (e.g. day 1 = toe touch exercises, day 2 = split squat exercises, etc.)</li>
      <li>These won't feel intense, that's normal. <%= link_to "Learn why here.", "https://bte-movement-app.herokuapp.com/about" %></li>
    </ul>
    <h3>Exercises:</h3>
    <% if params[:toe_touch_one_long] != nil %>
      <strong>Toe Touch Exercises:</strong>
      <ul>
        <li>Toe Touch One Exercise (full demo & explanation) <%= link_to "can be viewed at this link", "#{params[:toe_touch_one_long]}" %></li>
        <%# <li>Toe Touch One Exercise (short demo) <%= link_to "can be viewed at this link", "#{params[:toe_touch_one_short]}" %>
        <li>Toe Touch Two Exercise (full demo & explanation) <%= link_to "can be viewed at this link", "#{params[:toe_touch_two_long]}" %></li>
        <%# <li>Toe Touch Two Exercise (short demo) <%= link_to "can be viewed at this link", "#{params[:toe_touch_two_short]}" %>
      </ul>
    <% end %>
    <% if params[:split_squat_one_long] != nil %>
      <strong>Split Squat Exercises:</strong>
      <ul>
        <li>Split Squat One Exercise (full demo & explanation) <%= link_to "can be viewed at this link", "#{params[:split_squat_one_long]}" %></li>
        <%# <li>Split Squat One Exercise (short demo) <%= link_to "can be viewed at this link", "#{params[:split_squat_one_short]}" %>
        <li>Split Squat Two Exercise (full demo & explanation) <%= link_to "can be viewed at this link", "#{params[:split_squat_two_long]}" %></li>
        <%# <li>Split Squat Two Exercise (short demo) <%= link_to "can be viewed at this link", "#{params[:split_squat_two_short]}" %>
      </ul>
    <% end %>
    <% if params[:overhead_one_long] != nil %>
      <strong>Overhead Reach Exercises:</strong>
      <ul>
        <li>Overhead Reach One Exercise (full demo & explanation) <%= link_to "can be viewed at this link", "#{params[:overhead_one_long]}" %></li>
        <%# <li>Overhead Reach One Exercise (short demo) <%= link_to "can be viewed at this link", "#{params[:overhead_one_short]}" %>
        <li>Overhead Reach Two Exercise (full demo & explanation) <%= link_to "can be viewed at this link", "#{params[:overhead_two_long]}" %></li>
        <%# <li>Overhead Reach Two Exercise (short demo) <%= link_to "can be viewed at this link", "#{params[:overhead_two_short]}" %>
      </ul>
    <% end %>
  </body>
</html>