<h1>Your Movement Assessment Results</h1>
<p>Below you'll find overview videos of your personalized movement drills. We have also emailed your results. That email includes the full-length videos you see here and short demo videos to serve as quick reminders of what each movement looks like, along with information on how to apply these in your training program.</p>
<p>We suggest retesting your movement once per month. This will help you track your progress, update your movement drills based on how your body has changed, and ensure continuous improvement. </p>
<p>Watch the video below about what kind of results/improvements you can expect and fast ways to ensure the exercises are working for you</p> 
<iframe width="560" height="315" src="https://www.youtube.com/embed/22eAdEPhSsM?si=SBdca3L7ok1OCBsn" frameborder="0" allowfullscreen></iframe>
<h2>Instructions:</h2>
    <ul>
      <li>Total daily time commitment = 8 minutes </li>
      <li>Perform these exercises before your regular warm-up</li>
      <li>Perform each exercise for two minutes (1-minute per side when applicable)</li>
      <li>Do two exercises (exercise 1 + 2), twice per day (before & sometime after training)</li>
      <li>Alternate which exercises you're doing daily (e.g. day 1 = toe touch exercises, day 2 = split squat exercises, etc.)</li>
      <li>These won't feel intense, that's normal. <%= link_to "Learn why here.", "https://bte-movement-app.herokuapp.com/about" , {:class => "link_3"} %></li>
    </ul> 
<h2>Toe Touch Movements</h2>
<% if @toe_touch_one != nil %>
    <h4>Primary Movement Drill (do this first)</h4>
    <iframe width="560" height="315" src=<%=@toe_touch_one%> frameborder="0" allowfullscreen></iframe>
    <h4>Secondary Movement Drill (do this second)</h4>
    <iframe width="560" height="315" src=<%=@toe_touch_two%> frameborder="0" allowfullscreen></iframe>
<% else %>
    <p>*You have no toe touch movements*</p>
<% end %>
<h2>Split Squat Movements</h2>
<% if @split_squat_one != nil %>
    <h4>Primary Movement Drill (do this first)</h4>
    <iframe width="560" height="315" src=<%=@split_squat_one%> frameborder="0" allowfullscreen></iframe>
    <h4>Secondary Movement Drill (do this second)</h4>
    <iframe width="560" height="315" src=<%=@split_squat_two%> frameborder="0" allowfullscreen></iframe>
<% else %>
    <p>*You have no split-squat movements*</p>
<% end %>
<h2>Overhead Reach Movements</h2>
<% if @overhead_one != nil %>
    <h4>Primary Movement Drill (do this first)</h4>
    <iframe width="560" height="315" src=<%=@overhead_one%> frameborder="0" allowfullscreen></iframe>
    <h4>Secondary Movement Drill (do this second)</h4>
    <iframe width="560" height="315" src=<%=@overhead_two%> frameborder="0" allowfullscreen></iframe>
<% else %>
    <p>*You have no overhead reach movements*</p>
<% end %>
<%= button_to 'Previous Assessment', "/mvmtfive/#{@movement.id}/edit", method: :get %>