<h1>Your Movement Assessment Results</h1>

<h3>Toe Touch Movements</h3>
<p>*Info about this type of movement*</p>
<iframe width="560" height="315" src=<%=@toe_touch_one%> frameborder="0" allowfullscreen></iframe>
<p>*Info about this type of movement*</p>
<iframe width="560" height="315" src=<%=@toe_touch_two%> frameborder="0" allowfullscreen></iframe>

<h3>Split Squat Movements</h3>
<p>*Info about this type of movement*</p>
<iframe width="560" height="315" src=<%=@split_squat_one%> frameborder="0" allowfullscreen></iframe>
<p>*Info about this type of movement*</p>
<iframe width="560" height="315" src=<%=@split_squat_two%> frameborder="0" allowfullscreen></iframe>

<h3>Overhead Reach Movements</h3>
<p>*Info about this type of movement*</p>
<iframe width="560" height="315" src=<%=@overhead_one%> frameborder="0" allowfullscreen></iframe>
<p>*Info about this type of movement*</p>
<iframe width="560" height="315" src=<%=@overhead_two%> frameborder="0" allowfullscreen></iframe>

<%= button_to 'Previous Assessment', "/mvmtfive/#{@movement.id}/edit", method: :get %>