<h1>Toe Touch</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/8nrvb6z_GWY" frameborder="0" allowfullscreen></iframe>

<h2>Questions:</h2>
<%= form_with url: '/mvmtone', method: :post, local: true do |form|%>
    <h3>*Does your lower back have a uniform curve?*</h3>
    <img id="compass" src="<%= asset_path('toe touch q1 - yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('toe touch q1 - no compressed.jpeg') %>" height="500" >
    <br>
    <%= form.radio_button :lower_back, "yes", required: true %>
    <%= form.label :lower_back, "Yes" %>
    <%= form.radio_button :lower_back, "no", required: true %>
    <%= form.label :lower_back, "No" %>
    <h3>*Do your hips shift 1/2 foot (6 inches or 15cm) behind your heel?*</h3>
    <img id="compass" src="<%= asset_path('toe touch q2 - yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('toe touch q2 - no compressed.jpeg') %>" height="500" >
    <br>
    <%= form.radio_button :hip_shift, "yes", required: true %>
    <%= form.label :hip_shift, "Yes" %>
    <%= form.radio_button :hip_shift, "no" %>
    <%= form.label :hip_shift, "No" %>
    <h3>*Does your upper back have a uniform curve?*</h3>
    <img id="compass" src="<%= asset_path('toe touch q3 - yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('toe touch q3 - no compressed.jpeg') %>" height="500" >    
    <br>
    <%= form.radio_button :upper_back, "yes", required: true %>
    <%= form.label :upper_back, "Yes" %>
    <%= form.radio_button :upper_back, "no" %>
    <%= form.label :upper_back, "No" %>
    <br>
    <br>
    <%= form.submit "Next Assessment" %>
<% end %>
