<h1>Overhead Reach</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cxMeM08SJK8" frameborder="0" allowfullscreen></iframe>

<h3>Questions:</h3>
<%= form_with model: @movement, method: :patch, url: "/mvmtfive/#{@movement.id}", local: true do |form|%>
    <h3>All questions below are for your left arm</h3>
    <p>*Do you have 60 degrees of flexion?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300" >
    <br>
    <%= form.radio_button :qone, "yes", required: true %>
    <%= form.label :qone, "Yes" %>
    <%= form.radio_button :qone, "no", required: true %>
    <%= form.label :qone, "No" %>
    <p>*Do you have 120 degrees of flexion?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300">
    <br>
    <%= form.radio_button :qtwo, "yes", required: true %>
    <%= form.label :qtwo, "Yes" %>
    <%= form.radio_button :qtwo, "no" %>
    <%= form.label :qtwo, "No" %>
    <p>*Do you have 180 degrees of flexion?*</p>
    <img id="compass" src="<%= asset_path('Toe Touch.png') %>" width="300">
    <br>
    <%= form.radio_button :qthree, "yes", required: true %>
    <%= form.label :qthree, "Yes" %>
    <%= form.radio_button :qthree, "no" %>
    <%= form.label :qthree, "No" %>
    <br>
    <br>
    <%= form.submit "Update Assessment" %>
<% end %>