<h1>Overhead Reach</h1>
<p>*Watch the video below for how to do the assessment*</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/mnBv9moyfBw" frameborder="0" allowfullscreen></iframe>

<h2>Questions:</h2>
<%= form_with url: '/mvmtfive', method: :post, local: true do |form|%>
    <h2>How to answer all questions below:</h2>
    <img id="compass" src="<%= asset_path('overhead reach yes compressed.jpeg') %>" height="500" >
    <img id="compass" src="<%= asset_path('overhead reach no compressed.jpeg') %>" height="500" >
    <h2>All questions below are for your left arm</h2>
    <h3>*Do you have at least 60 degrees of flexion?*</h3>
    <img id="compass" src="<%= asset_path('overhead reach q1 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :sixty_l, "yes", required: true %>
    <%= form.label :sixty_l, "Yes" %>
    <%= form.radio_button :sixty_l, "no", required: true %>
    <%= form.label :sixty_l, "No" %>
    <h3>*Do you have at least 60-120 degrees of flexion?*</h3>
    <img id="compass" src="<%= asset_path('overhead reach q2 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :hundred_twenty_l, "yes", required: true %>
    <%= form.label :hundred_twenty_l, "Yes" %>
    <%= form.radio_button :hundred_twenty_l, "no" %>
    <%= form.label :hundred_twenty_l, "No" %>
    <h3>*Do you have more than 120 degrees of flexion?*</h3>
    <img id="compass" src="<%= asset_path('overhead reach q3 - yes compressed.jpeg') %>" height="300" >
    <br>
    <%= form.radio_button :hundred_eighty_l, "yes", required: true %>
    <%= form.label :hundred_eighty_l, "Yes" %>
    <%= form.radio_button :hundred_eighty_l, "no" %>
    <%= form.label :hundred_eighty_l, "No" %>
    <br>
    <br>
    
    <%= form.submit "Finish Assessments" %>
<% end %>
<%= button_to 'Previous Assessment', "/mvmtfour/#{@movement.id}/edit", method: :get %>